# Directories
examples/
src/
tests/
.vscode/

# Files
ChangeLog
LICENSE
.prettierrc
.prettierignore
.eslintrc.js
.eslintignore
tsconfig.json
jest.config.js
README.md

# Others
*.log
*.ts
*.map
.DS_Store
node_modules/
